@media (min-width: 769px) {

   article {
      box-shadow: none;
      transition: 700ms;
   }

   article:hover {
      box-shadow: 0px 0px 10px rgb(100 ,100,100 );
   }
   
   .grilla-articulos {
         grid-template-columns: 1fr 1fr 1fr 1fr;
   }

   footer {
      display: flex;
      justify-content: space-around;
   }

   .titulares-footer {
      font-size: 14px;
   }

   p {
      font-size: 10px;
   }

   .textos-footer{
      padding: 0;
   }

   .main-navbar {
      display: flex
   }

   .main-navbar ul {
      display: flex;
   }
}