<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Mercado Liebre</title>
   <link rel="stylesheet" href="/css/login.css">
   <link rel="stylesheet" href="/css/mobile.css">
   <link rel="stylesheet" href="/css/header-mobile.css">
   <link rel="stylesheet" href="/css/header-tablet.css">
   <link rel="stylesheet" href="/css/header-desktop.css">
   <link rel="stylesheet" href="/css/main-mobile.css">
   <link rel="stylesheet" href="/css/main-tablet.css">
   <link rel="stylesheet" href="/css/main-desktop.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/6cbe6843f5.js" crossorigin="anonymous"></script>
</head>

<body>

      <header class="main-header">

            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
            <form class="search-bar" action="/search" method="post">
                  <div class="item-form-search-bar">
                     <input type="text" name="usuario" placeholder="Buscar productos, marcas y mas" class="recuadro"> 
                     <div class="input-icon"><i class="fa-solid fa-magnifying-glass" ></i></div>
                  </div>
            </form>
            <div class="frase-header"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito </div>
            
      </header>

<nav class="main-navbar">

      <ul>
            <li> <a href="https.mercadoLiebre.com/Ofertas">Ofertas</a> </li>
            <li> <a href="https.mercadoLiebre.com/TiendasOficiales">Tiendas Oficiales</a> </li>
            <li> <a href="https.mercadoLiebre.com/Vender">Vender</a> </li>
            <li> <a href="https.mercadoLiebre.com/Ayuda">Ayuda</a> </li>
      </ul>
            
      <ul>
            <li> <a href="http://localhost:3000/register">Crea tu cuenta</a> <i class="fa-solid fa-id-card"></i> </li>
            <li> <a href="http://localhost:3000/login">Ingresa</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
            <li> <a href="https.mercadoLiebre.com/MisCompras">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
      </ul>

</nav>

<nav class=secundary-navbar>
      <p id="burgerMenu"><i class="fa fa-bars fa-2x"></i></p>  
</nav>

<form class="login" action="/login" method="post">

         <div class="item-form">
            <input type="text" name="usuario" placeholder="Usuario" class="recuadro-login">
         </div>
         
         <div class="item-form">
            <input type="password" name="clave" placeholder="Contraseña" class="recuadro-login">
         </div>
           
         <div class="item-form-boton">
            <button type="button" class="boton"> Enviar</button> 
         </div>
      
</form>

<footer>
      <div>
            <p class="iconos-footer"></iconos-footer><i class="fa-solid fa-credit-card";></i></p>
            <p class="titulares-footer">Pagá con tarjeta o en efectivo</p>
            <p class="textos-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </div>
      <div>
            <p class="iconos-footer"><i class="fa-solid fa-gift"></i></p>
            <p class="titulares-footer">Envío gratis desde $ 2.500</p>
            <p class="textos-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
      </div>
      <div>
            <p class="iconos-footer"><i class="fa-solid fa-user-shield"></i></p>
            <p class="titulares-footer">Seguridad, de principio a fin</p>
            <p class="textos-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
      </div>
<br>
<br>

</footer>

<div class="copy-right">
 <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</div>

</body>
</html>